@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root{
    --primary-color:#F8F8F8;
    --secondary-color:#212121;
}
*{
    padding: 0;
    margin: 0;
    
}
body{
    font-family: 'Rubik', sans-serif;
    background-color: var(--primary-color);
    
}

/* navigation */

.logo{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: bold;
}

.link{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.25rem;

}

.list-style{
    list-style: none;
}


.list{
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;

}
.container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 0.5rem;
}

.nav-list{
    display: flex;
}

.side_navigation{
    display: flex;
    flex-direction: column;
}


.nav_humberger{
    display: none;
}

/* side nav */

.side_nav{
    display: none;   
}
.cross_icon{
    padding: 2rem;
    margin: auto;
    width: 80%;
    position: relative;
}
.cross_icon_btn{
    position: absolute;
    top: 0;
    right: 0;
}


/* main section*/


.main_section{
    margin: 0 auto;
    width: 90%;
}

/* hero section */

.hero-section{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 1rem;
    margin:  auto;
    margin-top: 6rem;

}

.hero-section img{
  
   object-fit: cover;
   aspect-ratio: 2/1;
   border-radius: 1rem;
   object-position: top center;
  
}

.hero_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
}

.hero_content span{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 3rem;

}

/* card section */


.card_section{

    display: flex;
    flex-direction: column;
    margin-top: 15rem;

}
.section_heading{
    font-size: 2.5rem;
    font-weight: bolder;
    padding-bottom: 3rem;
}

.cards{
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.card_icon{
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.card_content h3{

    padding-bottom: 0.5rem;
}
.card_content p{
    font-size: 1rem;
    opacity: 0.8;
}
.card_footer{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding-top: 2rem;
}
.card{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    border: 2px solid #212121 ;
    border-radius: 0.5rem;
    padding: 2rem;
}


/* experience card */

.card_content h2{
    padding-bottom: 1rem;
    font-weight: 600;
}
/* skills */

.skills_container{
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    
   
}

.skill_list{
   flex-wrap: wrap;
    font-size: 1.5rem;
}
.skill_lists{
    flex: 1 1 240px;
}
/* experience */

.experience_container{
    margin-top: 15rem;
}
.experience_list{
    flex-direction: column;
}
.heading_two{
    padding-bottom: 2rem;
}
.border_bottom{
    width: 100%;
    height: 1px;
    background-color: #b9b8b8;
    border-radius: 1rem;
}
/* anout section */
.about_section{
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about_content h1{
    margin-bottom: 5rem;
    font-size: 2rem;
}
.about_social{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.about_mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}
/* footer */

.footer{
   display: flex;
   justify-content: center;
   margin-bottom: 2rem;

}

/* responsive media*/


@media screen and (max-width:600px) {
    .hero-section{
        flex-direction: column-reverse;
    }
    .hero_img img{
        width: 100%;
    }
    
}

@media screen and (max-width:925px) {
    .hide_nav{
        display: none;
    }
    .nav_humberger{
        display:block;
    }
    .list_experience {
        display: block;
       
    }
    .list_experience p{
        padding-top: 1rem;
    }
}
@media screen and (max-width:1400px){
   
    
    .hero-section{
        flex-direction: column-reverse;
    }
    .hero_content{
        justify-content: flex-start;
        text-align: center;
        margin-bottom: 0;
        flex: 1;
     
    }
    .hero_img{
        flex: 1;
        margin: auto;
    }
    
}